body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  --dark-theme: #2a4054;
  --med-theme: #EEEEEE;
  --med-light-theme: #F7F7F7;
  --light-theme: #FEFEFE;
  --icon-theme: #282828;
  --blue-theme: #3E64FF;
  --yellow-theme: #F6D365;
  --beige-theme: #E2E8CE;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Define some utility classes to minimise repetitive css */
.size-100 {
  height: 100%;
  width: 100%;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hovered {
  cursor: pointer;
}

.page-container {
  height: 100%;
  width: 100%;
  background-color: rgb(214, 214, 214);
  margin: 0;
  padding: 0;
}

/* Format the loading page */
.loading-container {
  flex-direction: column;
}

.loading-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--dark-theme);
  margin: 10px;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.loading-circle2 {
  animation-delay: 0.3s;
}

.loading-circle3 {
  animation-delay: 0.6s;
}

@keyframes example {
  from {scale: 0}
  to {scale: 1.2}

}

/* Start formatting the main page */
.wrapper {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 75px 1fr;
  -webkit-overflow-scrolling: touch; /* optional, for smoother scrolling on iOS devices */
  border-radius: 30px;
  overflow: hidden;
}

.icon-area {
  grid-row: 1;
  grid-column: 1;
  border-top-left-radius: 30px;
  background: var(--dark-theme);
  color: var(--med-light-theme);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 2.5vh;
}

.main-header {
  grid-row: 1 / span 1;
  grid-column: 2 / -1;
  background: var(--med-theme);
  color: var(--dark-theme);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  font-weight: bold;
}

.main-menu {
  grid-row: 2 / -1;
  grid-column: 1 / span 1;
  background: var(--dark-theme);
  width: 100%;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: -20px;
  border-bottom-left-radius: 30px;
}

.menu-option-container {
  justify-content: flex-start;
  padding-left: 10px;
}

.menu-option-container:hover {
  cursor: pointer;
  background-color: #3E64FF;
}

.menu-option-container-selected {
  background-color: #3E64FF;
  justify-content: flex-start;
  padding-left: 10px;
}

.menu-heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vh;
  color: var(--med-light-theme);
  margin-left: 10px;
}

/* format the main area */
.main-area {
  grid-row: 2;
  grid-column: 2;
  background: var(--med-light-theme);
  display: grid;
  grid-template-rows: 40% 20% 40%;
  min-width: 1100px;
  min-height: 700px;
  overflow: hidden;
}
